/* Lichen 0.3 - http://lichen-mail.org/
   Default theme stylesheet

To alter the appearance of your theme, e.g. with different
backgrounds or fonts, edit the appropriate section in this file.

Distributed under the GNU General Public License
(see license.html for details) */

body { background: #ffffff; font-family: 'Lucida Grande', 'DejaVu Sans', Verdana, sans-serif; }

img { border: 0; }
select { font-size: inherit; }

/* List of mailboxes */

#mailboxes { background: url('lichen-corner.png') no-repeat; }
#mailboxes li { font-size: 11px; }

#mb-header span { font-weight: bold; }
#mb-header { padding-bottom: 8px; }

.mb-click { display: block; line-height: 19px; height: 19px; width: 110px; text-decoration: none; color: #000040; }
.mb-click:hover { background: #0000cc; color: #ffffff; }
.mb-active { font-weight: bold; }

/* Mailbox message listings */

#list-wrapper table { border-collapse: collapse; }

td { border-bottom: solid 1px #cccccc; border-top: solid 1px #cccccc; padding-bottom: 3px; padding-top: 3px; padding-left: 0; padding-right: 0; font-size: smaller; }

.msg-row { padding-bottom: 3px; padding-top: 3px; padding-left: 0; padding-right: 0; font-size: smaller; }

tr.odd td { background: #f4f4ff; }
tr.even td { background: #ffffff; }
.new { font-weight: bold; }

td.list-nothing { padding: 20px; text-align: center; }

.mcol-checkbox { width: 22px; }
.mcol-flag { width: 26px; }
.mcol-sender { width: 200px; }
.mcol-date { width: 125px; }

div.sender { width: 190px; }
div.date { width: 115px; margin-left: 10px; }
td.subject, td.sender { cursor: pointer; }
.messagePreview, .senderAddress { margin-left: 0.6em; font-weight: normal; color: #999999; }

/* Header and footer control bars */

th.list-sortlabel { text-align: left; font-weight: normal; }
img.list-sort-marker { margin-left: 4px; vertical-align: middle; }
a#list-sort-date { margin-left: 10px; }

.header-bar, .footer-bar { font-size: 11px; line-height: 20px; padding: 2px; background: #ffffbf; }
.header-bar { height: 20px; }
.footer-bar { height: 40px; }

.header-bar, .footer-bar, .list-sortrow { background: #ffffbf; font-size: 11px; }
.header-bar a, .footer-bar a, .list-sortlabel a { color: #0000ff; }

#top-corner, #bottom-corner { position: absolute; left: 0; width: 5px; height: 5px; }
#top-corner { top: 0; }
#bottom-corner { bottom: 0; }

.header-left { float: left; margin-left: 7px; }
.header-right { float: right; margin-right: 7px; }
.footer-bar .header-right { margin-top: 10px; }

a.list-return { font-weight: bold; }

/* Login screen */

form.login { background: url('login.jpg') no-repeat; font-size: smaller; }

.input-block input { width: 315px; }
.login-notice { font-weight: bold; background: #ffffcc; padding: 5px; border: solid 1px black; }

.login-submit { text-align: right; }
.login-submit input { width: 110px; }

/* Toolbars */

.toolbar li { margin-right: 30px; }
.toolbar a { font-size: 11px; text-decoration: none; color: #808099; }
.toolbar img { border: none; vertical-align: middle; }

/* Message display */

.plain-message, .html-message { width: 50em; border-top: solid 1px black; padding: 14px 0 14px 0; font-size: smaller; }
.plain-message-monospace { font-family: monospace; }

.msg-head-subject { font-size: 17px; font-weight: normal; margin: 12px 0 0 0; }
.msg-head-line2 { font-size: 11px; margin: 0; }
.msg-head-date, .msg-head-sender { font-weight: bold; }

/* Options panel */

.opts-block { font-size: smaller; border-bottom: solid 1px #999999; padding: 15px; margin-bottom: 5px; }

.opts-buttons { text-align: center; }
.opts-buttons button img { vertical-align: middle; margin-right: 3px; }
.opts-buttons button { cursor: pointer; border: none; background: #ffffff; margin: 5px; font-size: 11px; color: #808099; }

/* Notification messages */

.flash { background-color: #ffffcc; padding: 5px; border: solid 1px black; text-align: right }
.flash-submessage { font-size: smaller; color: #C0C0C0; }
